<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name=".ProbeApplication" android:label="Paravoid Hilt Probe"
        android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
        <provider android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup" android:exported="false">
            <meta-data android:name="com.lelloman.paravoidcompat.hilt.ProbeStartupInitializer" android:value="androidx.startup" />
        </provider>
        <receiver android:name=".WrappedProbeReceiver" android:exported="true" android:permission="android.permission.DUMP" />
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
