<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Not a supported integration recipe. Only isolates the class-transform gate. -->
    <application tools:remove="android:appComponentFactory">
        <provider android:name="androidx.startup.InitializationProvider" tools:node="remove" />
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver" tools:node="remove" />
    </application>
</manifest>
