<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Paravoid provisioning probe" android:allowBackup="false"
        android:usesCleartextTraffic="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <meta-data android:name="probe.mode" android:value="${probeMode}" />
        <provider android:name="com.lelloman.paravoidandroid.runtime.ColdDexProvider"
            android:authorities="${applicationId}.cold-dex-probe" android:exported="false" />
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
